<div class="footer">
  <div class="footer-category">
      サイトマップ　お問い合わせ　運営情報
  </div>
  <div class="copyright">
    <center>
    <%= image_tag 'logo.png', :height => '20' %>
    ©わくてっく
    </center>
  </div>
</div>
