
<div class="main-contaner">
  <div class="new-article">
    新規記事<br>
    <% @posts.each do |post| %>
      タイトル:<%= post["title"]["rendered"] %>
    <div class="">
      <span>
        <%= (post["content"]["rendered"].truncate(30, separator: '...')).html_safe %>
      </span>
      <br>
      <span>
        <%= link_to "続きを読む", post["guid"]["rendered"] %>
      </span>
    </div>
    <% end %>
  </div>
  <div class="new-article-small">
    新規記事小
  </div>
  <p>
    read more
  </p>
  <div class="boxContainer">
	  <div class="category box">
      <p>カテゴリ一覧</p>
      <div class="notice">
        お知らせ
      </div>
      <div class="test">
        てすと
      </div>
    </div>
	 <div class="recomend box">
     <p>おすすめの記事</p>
      <p>hoge</p>
      <p>fugafugafugafugafugafugafugafuga</p>
    </div>
  </div>
</div>
